<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.networkquality</string>
	<key>connections</key>
	<dict>
		<key>39D52D1A-14E3-49E9-88F1-AE303A8059DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0C19652-944C-48E9-B953-577346E5F618</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62CAC355-33D1-4325-9C89-C2738FB6A124</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBE7C201-5CFD-4F7B-AFAD-A9E03588C048</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>19955265-8D06-4284-978F-BDA34A212707</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4584567E-2F64-4CBC-8B2D-3CCC5DC140C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0B149E0A-995B-48E0-A163-31761D485B09</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7004367E-7EFC-4767-8B9D-F05E23F12DC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>05A15400-E41E-438F-938B-B218CCAE8046</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E3B9122-D1CD-4FA8-BDF1-3F97551C2EC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E75BF1E7-5E8F-467B-9925-8AE34E9B6CD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4584567E-2F64-4CBC-8B2D-3CCC5DC140C1</key>
		<array/>
		<key>461B3A60-A70F-4827-A709-1ED8CFC58DA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F3CDD29-706B-4356-A726-B12E0401585B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ABDA524D-991E-4430-A90F-7D107D81C09F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7004367E-7EFC-4767-8B9D-F05E23F12DC9</key>
		<array/>
		<key>7F3CDD29-706B-4356-A726-B12E0401585B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E3B9122-D1CD-4FA8-BDF1-3F97551C2EC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0C19652-944C-48E9-B953-577346E5F618</key>
		<array/>
		<key>E75BF1E7-5E8F-467B-9925-8AE34E9B6CD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39D52D1A-14E3-49E9-88F1-AE303A8059DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A550D779-5E30-44A0-9606-A203D9B5B199</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Test your internet connection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network Quality</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Close</string>
				<key>button2</key>
				<string></string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>{query}</string>
				<key>title</key>
				<string>Summary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>E0C19652-944C-48E9-B953-577346E5F618</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Summary</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CBE7C201-5CFD-4F7B-AFAD-A9E03588C048</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:show_results}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>dialog_conditional</string>
						<key>outputlabel</key>
						<string>Dialog</string>
						<key>uid</key>
						<string>62CAC355-33D1-4325-9C89-C2738FB6A124</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:show_results}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>post_notification</string>
						<key>outputlabel</key>
						<string>Notification</string>
						<key>uid</key>
						<string>19955265-8D06-4284-978F-BDA34A212707</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:show_results}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>text_view</string>
						<key>outputlabel</key>
						<string>Text View</string>
						<key>uid</key>
						<string>0B149E0A-995B-48E0-A163-31761D485B09</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:show_results}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>large_type</string>
						<key>outputlabel</key>
						<string>Large Type</string>
						<key>uid</key>
						<string>05A15400-E41E-438F-938B-B218CCAE8046</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>39D52D1A-14E3-49E9-88F1-AE303A8059DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/text-processing/text.lines.strip.leading.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>3E3B9122-D1CD-4FA8-BDF1-3F97551C2EC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:test_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>text</key>
				<string>{const:alfred_workflow_name}</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>461B3A60-A70F-4827-A709-1ED8CFC58DA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/usr/bin/networkQuality</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F3CDD29-706B-4356-A726-B12E0401585B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>E75BF1E7-5E8F-467B-9925-8AE34E9B6CD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>0</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string></string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>0</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>4584567E-2F64-4CBC-8B2D-3CCC5DC140C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Will take a few seconds to finish</string>
				<key>title</key>
				<string>Running Network Test</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ABDA524D-991E-4430-A90F-7D107D81C09F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>7004367E-7EFC-4767-8B9D-F05E23F12DC9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A550D779-5E30-44A0-9606-A203D9B5B199</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Examine your internet connection via the `netquality` keyword.

![Alfred search for netquality](images/about/keyword.png)

Analysis takes a few seconds to complete. Results are copied to the clipboard and displayed in the viewer defined in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Showing results as Dialog](images/about/dialog.png)

![Showing results as Notification](images/about/notification.png)

![Showing results as Text View](images/about/text.png)</string>
	<key>uidata</key>
	<dict>
		<key>39D52D1A-14E3-49E9-88F1-AE303A8059DD</key>
		<dict>
			<key>note</key>
			<string>Determine type of output</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>3E3B9122-D1CD-4FA8-BDF1-3F97551C2EC4</key>
		<dict>
			<key>note</key>
			<string>Remove title from results</string>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>4584567E-2F64-4CBC-8B2D-3CCC5DC140C1</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>461B3A60-A70F-4827-A709-1ED8CFC58DA8</key>
		<dict>
			<key>note</key>
			<string>Trigger workflow</string>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>7004367E-7EFC-4767-8B9D-F05E23F12DC9</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>7F3CDD29-706B-4356-A726-B12E0401585B</key>
		<dict>
			<key>note</key>
			<string>Run network test command</string>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>A550D779-5E30-44A0-9606-A203D9B5B199</key>
		<dict>
			<key>note</key>
			<string>Copy results to clipboard</string>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>ABDA524D-991E-4430-A90F-7D107D81C09F</key>
		<dict>
			<key>note</key>
			<string>Show notification, as test will take a while to finish and return results</string>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>CBE7C201-5CFD-4F7B-AFAD-A9E03588C048</key>
		<dict>
			<key>xpos</key>
			<real>960</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>E0C19652-944C-48E9-B953-577346E5F618</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>E75BF1E7-5E8F-467B-9925-8AE34E9B6CD2</key>
		<dict>
			<key>note</key>
			<string>Ensure there is no surrounding whitespace</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>netquality</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Test Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>test_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dialog_conditional</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Dialog</string>
						<string>dialog_conditional</string>
					</array>
					<array>
						<string>Notification</string>
						<string>post_notification</string>
					</array>
					<array>
						<string>Text View</string>
						<string>text_view</string>
					</array>
					<array>
						<string>Large Type</string>
						<string>large_type</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Results Viewer</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>show_results</string>
		</dict>
	</array>
	<key>version</key>
	<string>25.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/network-quality-workflow/</string>
</dict>
</plist>
