<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.networkquality</string>
	<key>connections</key>
	<dict>
		<key>325E35A2-6404-4314-975D-116B8063FBD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAF31486-4088-492F-93C5-22A1031435DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68C9ACDE-037B-4AD3-AF10-2EE6D505A490</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>325E35A2-6404-4314-975D-116B8063FBD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7F6F4867-2EFD-4C6C-A557-834CAEF04E45</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>747CF3EA-A108-409A-BB1C-53E6A8D4DA39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C90D65E-E3F6-4CD6-948F-056C1E3160DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F9B57DE-65F3-40DB-A0D1-4A1005AED5FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FCADA9CE-CF30-45DA-BF67-1DEA3A770623</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5DC84A2-82EA-4B3E-BB22-EB24A82A5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2C6D7412-F08F-4C6D-BE7C-92BB008B5F98</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5DC84A2-82EA-4B3E-BB22-EB24A82A5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>747CF3EA-A108-409A-BB1C-53E6A8D4DA39</key>
		<array/>
		<key>7F9B57DE-65F3-40DB-A0D1-4A1005AED5FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3C4EECE-879C-4180-AFB0-14EA306486E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FF9D30D-E287-4DC6-8786-8F513D4CF5DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C90D65E-E3F6-4CD6-948F-056C1E3160DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93AFF868-B1D1-4C6C-9025-ECC2CC5FD66C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68C9ACDE-037B-4AD3-AF10-2EE6D505A490</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5DC84A2-82EA-4B3E-BB22-EB24A82A5A6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93AFF868-B1D1-4C6C-9025-ECC2CC5FD66C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3C4EECE-879C-4180-AFB0-14EA306486E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>325E35A2-6404-4314-975D-116B8063FBD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DAF31486-4088-492F-93C5-22A1031435DD</key>
		<array/>
		<key>FBDDA878-AE14-431E-9CCB-D8C69A17DBB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FF9D30D-E287-4DC6-8786-8F513D4CF5DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Test your internet connection</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Network Quality</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Show in Alfred","arg":"alfred","subtitle":"Keeps Alfred open"},{"title":"Copy to Clipboard","arg":"clipboard","subtitle":"Runs in the background"},{"title":"Show as Large Type","arg":"large_type","subtitle":"Runs in the background"}]</string>
				<key>keyword</key>
				<string>{var:test_keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Check Network Quality</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>FBDDA878-AE14-431E-9CCB-D8C69A17DBB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Testing download and upload capacity takes a few seconds</string>
				<key>script</key>
				<string>// Run networkQuality
const task = $.NSTask.alloc.init
const stdout = $.NSPipe.pipe

task.executableURL = $.NSURL.alloc.initFileURLWithPath("/usr/bin/networkQuality")
task.standardOutput = stdout
task.launchAndReturnError(false)

const dataOut = stdout.fileHandleForReading.readDataToEndOfFile
const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

// Prepare JSON
const lines = stringOut.split("\n").slice(1)
let sfItems = []

sfItems.push({ title: lines[0] })

lines.slice(1).forEach(line =&gt; sfItems.push({
  title: line,
  icon: { path: false } // No icon
}))

JSON.stringify({ variables: { full_info: lines.join("\n") }, items: sfItems })</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Checking Network Quality…</string>
				<key>type</key>
				<integer>7</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F9B57DE-65F3-40DB-A0D1-4A1005AED5FE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Results copied to clipboard</string>
				<key>title</key>
				<string>Network Quality</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DAF31486-4088-492F-93C5-22A1031435DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>325E35A2-6404-4314-975D-116B8063FBD6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:results_to}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred</string>
						<key>outputlabel</key>
						<string>Alfred</string>
						<key>uid</key>
						<string>FCADA9CE-CF30-45DA-BF67-1DEA3A770623</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:results_to}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clipboard</string>
						<key>outputlabel</key>
						<string>Clipboard</string>
						<key>uid</key>
						<string>2C6D7412-F08F-4C6D-BE7C-92BB008B5F98</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Large Type</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6C90D65E-E3F6-4CD6-948F-056C1E3160DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:full_info}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D3C4EECE-879C-4180-AFB0-14EA306486E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>results_to</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7FF9D30D-E287-4DC6-8786-8F513D4CF5DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/networkQuality | tail -n +2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93AFF868-B1D1-4C6C-9025-ECC2CC5FD66C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>747CF3EA-A108-409A-BB1C-53E6A8D4DA39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:results_to}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>clipboard</string>
						<key>outputlabel</key>
						<string>Clipboard</string>
						<key>uid</key>
						<string>7F6F4867-2EFD-4C6C-A557-834CAEF04E45</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Large Type</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>68C9ACDE-037B-4AD3-AF10-2EE6D505A490</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>A5DC84A2-82EA-4B3E-BB22-EB24A82A5A6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Examine your internet connection via the `netquality` keyword. Analysis takes a few seconds to complete.

![Alfred search for netquality](images/about/netquality.png)

![Internet connection results](images/about/results.png)</string>
	<key>uidata</key>
	<dict>
		<key>325E35A2-6404-4314-975D-116B8063FBD6</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>68C9ACDE-037B-4AD3-AF10-2EE6D505A490</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>6C90D65E-E3F6-4CD6-948F-056C1E3160DA</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>747CF3EA-A108-409A-BB1C-53E6A8D4DA39</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>7F9B57DE-65F3-40DB-A0D1-4A1005AED5FE</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>7FF9D30D-E287-4DC6-8786-8F513D4CF5DD</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>93AFF868-B1D1-4C6C-9025-ECC2CC5FD66C</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>A5DC84A2-82EA-4B3E-BB22-EB24A82A5A6E</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>D3C4EECE-879C-4180-AFB0-14EA306486E4</key>
		<dict>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>DAF31486-4088-492F-93C5-22A1031435DD</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>FBDDA878-AE14-431E-9CCB-D8C69A17DBB0</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>netquality</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Test Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>test_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>2022.5</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/network-quality-workflow/</string>
</dict>
</plist>
